<div class="footer-container">
  <h3>Get the FreshCart App</h3>
  <h4>We will send you a link, open it on your phone to download it.</h4>
  <div class="inputbtn-container">
    <input type="text" name="emailad" id="" placeholder="Email" />
    <button>Share App Link</button>

    <!-- <button mat-raised-button>Share App Link</button> -->
  </div>
  <hr class="solid" />
  <div class="bottom-container">
    <div class="payment-container">
      <div class="payment-text">Payment Partners:</div>
      <div class="payment-imgs">
        <img src="../assets/svgicons/amazon-pay.png" alt="" />
        <img src="../assets/svgicons/american-express.png" alt="" />
        <img src="../assets/svgicons/Mastercard-Logo.wine.png" alt="" />
        <img src="../assets/svgicons/paypal.png" alt="" />
      </div>
    </div>
    <div class="appinfo-container">
      <div class="app-text">Get deliveries with FreshCart</div>
      <div class="download-imgs">
        <img src="../assets/svgicons/app-store-badge.svg" alt="" />
        <img src="../assets/svgicons/google-play-badge.png" alt="" />
      </div>
    </div>
  </div>
</div>
